<html>

<head>
    <title>Linea de tiempo</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/timeline.min.css" />
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/timeline.min.js"></script>
    <script src="assets/app/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
    <script>
        $(document).ready(function () {
            jQuery('.timeline').timeline({
                mode: 'horizontal',
                visibleItems: 1,
            });
            App.init();
            arr=[{
            "id": 1,
            "titulo": "2012",
            "comment": "Contenido 1 sobre timeline",
            "idPersona": 0}];
        });
      </script>
    <div class="container">
        <br />
        <h3 align="center"><a href="">Demostracion Linea de tiempo</a></a></h3><br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Linea documentaria</h3>
            </div>
            <div id="time"></div>
            <% for(var i=0; i<arr.length; i++) { %>
                <li>
                    <%= arr[i].comment %>
                </li>
            <% } %>
        </div>
        
    </div>
    
</body>

</html>

